<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <!-- Imagem da logo Philas -->
      <a href="{{URL}}"> <img src="{{URL}}/resources/img/Prop_Philas-Logo.svg" alt="Logo" width="100" height="100" /> </a>

      <!-- Botão de collapse no Mobile -->
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="responsiveMenu" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{{URL}}/singup" aria-label="Ir para criação de conta" class="nav-link active" style="font-size: 20px">Crie sua conta</a>
          </li>

          <li class="nav-item">
            <a href="{{URL}}/login" aria-label="Ir para login" class="nav-link active" aria-disabled="true" style="font-size: 20px">Entre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
