<main class="container d-grid gap-3 mt-4">
  <section id="titulo" class="text-center border-bottom">
    <h2 class="mb-4">{{title_form}}</h2>
    <p class="fs-5">{{content}}</p>
  </section>

  <form action="" method="POST" id="form" class="needs-validation mt-3" novalidate>
    <div class="form-group fs-4">Você deseja realmente excluir o atendimento selecionado com id: <b>{{id}}</b>?</div>

    <hr class="my-4" />

    <button type="submit" name="cadastrar" id="cadastrar" class="w-100 btn btn-dark btn-lg mb-4">Confirmar</button>
  </form>
</main>
