<main class="container py-4">
  <section id="titulo" class="text-center border-bottom">
    <h2 class="mb-4">Alterar Senha</h2>
    <p class="fs-5">Utilize o formulário para atualizar sua senha.</p>
  </section>

  {{status}}

  <form action="" method="POST" id="form" class="needs-validation mt-3" novalidate>
    <div class="row g-3">
      <div class="col-12">
        <label for="senha_atual" class="form-label">Senha atual</label>
        <input type="password" name="senha_atual" id="senha_atual" class="form-control" placeholder="********************" required />
        <div class="invalid-feedback">Senha atual é obrigatório.</div>
      </div>

      <div class="col-sm-6">
        <label for="nova_senha" class="form-label">Nova senha</label>
        <input type="password" name="nova_senha" id="nova_senha" class="form-control" placeholder="********************" required onchange="if(this.checkValidity()) document.getElementById('confirmar_senha').pattern = this.value;" />
        <div class="invalid-feedback">Nova senha é obrigatório.</div>
      </div>

      <div class="col-sm-6">
        <label for="confirmar_senha" class="form-label">Confirmar senha</label>
        <input type="password" name="confirmar_senha" id="confirmar_senha" class="form-control" placeholder="********************" required />
        <div class="invalid-feedback">Confirmar senha é obrigatório.</div>
      </div>
    </div>

    <hr class="my-4" />

    <button type="submit" name="alterar" class="w-100 btn btn-dark btn-lg">Alterar</button>
  </form>
</main>
