<main class="container d-grid gap-3 mt-4">
  {{status}}

  <a href="{{URL}}/usuario/atendimento" aria-label="Ir para card" class="w-100 btn btn-lg btn-dark" role="button"> Agendar Horário </a>
  <a href="{{URL}}/usuario/atendimento/abertos" aria-label="Ir para card" class="w-100 btn btn-lg btn-dark" role="button"> Atendimentos Abertos </a>
  <a href="{{URL}}/usuario/atendimento/confirmar" aria-label="Ir para card" class="w-100 btn btn-lg btn-dark" role="button"> Atendimentos a Confirmar </a>
  <a href="{{URL}}/usuario/historico" aria-label="Ir para card" class="w-100 btn btn-lg btn-dark" role="button"> Histórico </a>
</main>
